@import url('reset.css');
@import url('variables/variables.css');
@import url('utils/utils.css');
@import url('typo.css');

body {
    background-color: #eee;
}

.collection__title {
    margin-bottom: var(--space-s);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: var(--space-s);
    align-items: stretch; /* This will make all items stretch to the same height */
}

.grid .course {
    height: 100%;
}

.course__title {
    line-height: 1.2;
}