.flow > * + * {
    margin-top: var(--flow-space, var(--space-s));
  }

  .flow-3xs {
    --flow-space: var(--space-3xs);
  }
  .flow-2xs {
    --flow-space: var(--space-2xs);
  }
  .flow-xs {
    --flow-space: var(--space-xs);
  }
  .flow-s {
    --flow-space: var(--space-s);
  }
  .flow-m {
    --flow-space: var(--space-m);
  }
  .flow-l {
    --flow-space: var(--space-l);
  }
  .flow-xl {
    --flow-space: var(--space-xl);
  }

  .d-i {
    display: inline;
  }
  .d-ib {
    display: inline-block;
  }
  .d-b {
    display: block;
  }