---
import MinimalLayout from '../layouts/MinimalLayout.astro';
---
<MinimalLayout>
    <h1 class="sr-only">A11y Courses</h1>
    <img class="logo" src="/images/ac_logo.svg" alt="a11y.courses" />
<MinimalLayout>

<style>
    .logo {
        max-width: 100%;
        width: 50rem;
    }
    .sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        overflow: hidden !important;
        margin: -1px !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }
</style>