:root {
    --color-primary-dark: #0a3703;
    --color-primary: #105804;
    --color-primary-light: #167905;
    --color-primary-lightest: #198906;
    --color-secondary-dark: #3c2f7e;
    --color-secondary: #4d409b;
    --color-secondary-light: #5e4db0;
    --color-tertiary-dark: #1e1a4e;
    --color-tertiary: #26216c;
    --color-tertiary-light: #3a36a1;
    --color-text: #333;
}