:root {
    --color-green-600: #105804;
    --color-green-500: #167905;
    --color-green-400: #198906;
    --color-primary-dark: var(--color-green-600);
    --color-primary: var(--color-green-500);
    --color-primary-light: var(--color-green-400);
    --color-secondary-dark: #3c2f7e;
    --color-secondary: #4d409b;
    --color-secondary-light: #5e4db0;
    --color-tertiary-dark: #1e1a4e;
    --color-tertiary: #26216c;
    --color-tertiary-light: #3a36a1;
    --color-text: #333;
}