---
import { Image } from "astro:assets";
---

<header id="global-header" class="masthead" role="banner">
  <div class="inner">
    <div class="masthead__logo">
      <a href="/" rel="home">
        <Image class="logo" src={logo} alt="a11y.courses" />
      </a>
    </div>
  </div>
</header>
<!-- End #global-header -->
