---
import { Image } from "astro:assets";
import logo from '../images/ac_logo_3.svg';
---

<header id="global-header" class="masthead" role="banner">
    <a href="/" rel="home">
        <Image class="logo" src={logo} alt="a11y.courses" />
    </a>
</header>
<!-- End #global-header -->

<style>
    header {
        padding: var(--space-s);
    }
    .logo {
        display: inline-block;
        height: auto;
        max-width: 50%;
        width: 20rem;
    }
</style>