---
import { Image } from "astro:assets";
import logo from '../images/corner2.svg';
---

<header id="global-header" class="masthead" role="banner">
        <a href="/" rel="home">
            <Image class="logo" src={logo} alt="a11y.courses" />
        </a>
</header>
<!-- End #global-header -->

<style>
    .nav {
        background-color: #ccc;
    }
    .logo {
        display: inline-block;
        height: auto;
        max-width: 25rem;
        width: 70%;
    }
</style>