---
let { label, value, icon } = Astro.props;
---

{(label && value) && (
    <div class="tile flow flow-3xs">
        {icon && <i class={`text-large fg-muted fa-light ${icon}`}></i>}
        <span class="tile__label text-small fg-muted">{label}</span>
        <span class="tile__value">
            {label === 'Time required' ? (
                <>
                    {value}&nbsp;hours
                </>
            ) : (
                value
            )}
        </span>
    </div>
)}

<style>
  .tile {
    display: flex;
    flex-direction: column;
    [class^="fa-"] {
      margin-right: var(--space-3xs);
    }
    * {
        line-height: 1;
    }
  }
</style>
