---
let { label, value } = Astro.props;
---

{(label && value) && (
    <div class="tile">
        <span class="tile__label text-small fg-muted">{label}</span>
        <span class="tile__value">{value}</span>
    </div>
)}

<style>
  .tile {
    display: flex;
    flex-direction: column;
  }
</style>
